body {
	margin: 0px;
	padding: 0px;
	color: #777;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 87.5%; /* 14px */
}

a {
	color: #4D9EBC;
	text-decoration: none;
}

/* Menu */

#menu {
	background-color: #4a4a4a;
	height: 30px;
	width: 100%;
	margin-bottom: 15px;
}

#menu ul {
	list-style: none;
	display: block;
	margin: 0px auto;
	width: 710px; /* a span-18 is 17*40 + 30 = 710 px wide */
	position: relative;
}

.home #menu ul {
	width: 950px;
}

#menu ul li {
	display: block;
	width: 110px;
	float: left;
	font-weight: bold;
	font-size:.8em;
	line-height: 2;
}

.home #menu ul li {
	width: 130px;
}

#menu ul li a {
	color: white;
	text-decoration: none;
	padding-top: 5px;
	height: 25px;
	display: block;
	text-align: center;
}

#menu ul li a:hover {
	text-decoration: underline;
	color: #eee;
	background: #5a5a5a;
}

#menu #searchbox {
	width: auto;
	position: absolute;
	right: 0;
}

#menu #searchbox input {
	width: 150px;
}

/* BODY */

#masthead {
	text-indent: -5000px;
	background: url('images/habari-with-tagline.png') no-repeat top left;
	height: 75px;
	margin-bottom: 9px; /* to make total height an integer multiple of 21 */
}

h1 {
	font-weight: bold;
	font-size: 3.4em;
	line-height: 1.324;
	color: #505050;
	margin: 0px;
}

h1 a {
	color: #505050;
}

h2 {
	color: #ACACAC;
	font-size: 1.2em;
	line-height: 1.25;
	font-weight: bold;
}

h3 {
	color: #505050;
}

#subhead {
	padding: 2em 0 0;
	font-style: italic;
	font-size: 0.8em;
}

#subhead p {
	margin: 0px;
}

#elevator {
	font-size: 2.4em;
	line-height: 1.25;
	margin: 0.25em 0 0.25em;
	color: #ACACAC;
}

#elevator p {
	margin: 0px;
}

#elevator p em {
	color: #4D9EBC;
	font-style: normal;
}

hr {
	clear: both;
	background-color: transparent;
	border-bottom: medium none;
	border-top: 1px solid #D9D9D9;
}

#noUpdate {
	margin: 0 auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #999;
	text-align: left;
	width: 210px;
	height: 200px;
	padding: 40px;
}

#media {
	margin-bottom: 1.5em;
}

#screencast {
	margin-bottom: 1.5em;
}

.post {
	margin-bottom: 1.5em;
}

/* FEATURES */
#featureset, #featureset li, #featurenav, #featurenav li {
	list-style:none;
}

#featurenav li {
	float:left;
}

#featurenav li a {
	display:block;
	text-align:center;
	line-height:2em;
	color:#000;
}

#featurenav li.active a {
	background:#000;
	color:#FFF;
}

#featureset li {
	float:left;
	display:none;
	border:3px solid #222;
	position:relative;
	padding:0;
	margin:0;
	height:275px;
}

#featureset li.active, #featureset li:active {
	display:block;
}

#featureset li h4 {
	position:absolute;
	right:0;
	top:0;
	background:#333333;
	color:#CCCCCC;
	padding:5px;
	border-width:2px;
	border-color:#000;
	border-style:none none solid solid;
}

#featureset li p {
	position:absolute;
	left:0;
	bottom:0;
	margin:0;
	padding:5px 5px;
	background:url('images/black-trans.png');
	width:640px;
	color:#FFF;
	border-top:#000 1px solid;
}

#featureset li img {
	padding:0;
	margin:0;
}

/* SIDEBAR */

#sidebar {
	margin-top: 3em;
}

#sidebar h2 {
	color: #505050;
}

#sidebar div {
	margin-bottom: 2em;
}

#sidebar #user-mailing-list h2 a {
	color: #505050;
}

a.discuss-link {
	padding-left: 21px;
	min-height: 16px;
	background: url('images/discussion.png') no-repeat 0 50%;
}

/* ENTRIES */

.entry-meta .entry-tags {
	display: block;
}

.entry-meta .entry-tags:before {
	content: 'Tags: ';
}

.entry-content {
	margin: 1.5em 0 1.5em 0;
}

/* COMMENTS */
.comment-meta {
	margin: 0 15px 0 0;
	float: none;
	}

#comment-personaldetails {
	margin-top: 10px;
}

.feedicon { /* Next to Comment Section Headline */
	border: 0 !important;
	padding: 0 !important;
	}

.feedlink { /* On the sidebar */
	background: transparent url('images/feed.png') no-repeat scroll right center;
	height: 16px;
	/*width: 16px;*/
	padding: 2px 20px 2px 2px;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	}

.feedlink span {
	visibility: hidden;
}

.feedlink:hover span {
	visibility: visible;
}

.commentsrsslink {
	background: url('images/feed.png') left top no-repeat;
	padding: 2px 0 2px 20px;
	margin-right: 10px;
	height: 16px;
	}

.trackbacklink {
	background: url('images/arrow_refresh.png') left top no-repeat;
	padding: 2px 0 2px 20px;
	height: 16px;
	}

.commentsrsslink a, .trackbacklink a {
	color: #999;
	padding: 2px;
}

#commentlist {
	margin: 0;
	padding: 10px 0 20px;
	position: relative;
	}

#commentlist li {
	margin: 10px 0 0;
	padding: 10px 10px 5px;
	list-style: none;
	}

#commentlist li.comment-unapproved {
	border: #3371A3 solid 2px;
}

#commentlist li .comment-content {
	padding: 10px 0;
	font-size: 1.2em;
	line-height: 1.8em;
}

.comment-content p,
.comment-content ul,
.comment-content ol,
.comment-content div,
.comment-content blockquote {
	margin: 13px 0;
}

#commentlist li img {
	padding: 0;
	border: none;
}

#commentlist li .commentauthor {
	font-size: 1.5em;
	font-weight: bold;
	letter-spacing: -1px;
}

#commentlist li .counter {
	display: none;
	font: normal 1.5em Helvetica, Arial, Sans-Serif;
	color: #999;
	float: left;
	width: 35px;
}

#pinglist {
	font-size: 1.2em;
	padding: 0;
	margin: 10px 0 10px;
	background: #f6f7f8;
}

#pinglist li {
	margin-left: 40px;
	padding: 7px 0;
	list-style: none;
}

#pinglist li small {
	font-size: 0.8em;
	display: block;
}

#pinglist li .counter {
	display: none;
}

#pinglist li span.favatar img {
	margin-left: -25px;
	border: none;
	padding: 0;
	float: left;
}

#pinglist li img {
	padding: 0;
	border: none;
}

.comments form {
	clear: both;
	padding: 1px 0 10px;
	margin: 0;
}

.comments input[type=text], .comments textarea {
	padding: 3px;
	color: #777;
}

input[type=text]:focus, textarea:focus {
	background: #fff;
	color: #333;
	border-color: #666;
}

.comments form input[type=text] {
	width: 45%;
	margin: 5px 5px 1px 0;
}

.comments textarea {
	height: 250px;
	width: 100%;
	margin: 10px 0;
}

.comments form #submit {
	margin: 0;
	float: right;
}
